<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
	  <authentication mode="Forms">
		  <forms loginUrl="~/Views/Account/Login.aspx" defaultUrl="~/" />
	  </authentication>
	  <pages>
		  <controls>
			  <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
		  </controls>
	  </pages>
  </system.web>
  <appSettings>
	  <add key="Telerik.Skin" value="Bootstrap" />
	  <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
	  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
	  <add key="IsSanbox" value="0" />
	  <add key="ALConexion" value="NDFaT044M05NeGpGMnBLWVZwVklnRVFCUkY5S3FhYTAzWXFuTGRFVlN0TTV5VEJLOnUyN3ZRM1dtOTY1Z0dBUlhxd212ekJoUEdreHVMbkZIVFpLMkRkRmg5YmU5U3JKZDVwQVdMR0loRjFSRlRHeUQ=" />
	  <add key="UrlTokenTest" value="https://apigee-prod.altanredes.com/v1/oauth/accesstoken?grant-type=client_credentials" />
	  <add key="UrlTokenProd" value="https://apigee-prod.altanredes.com/v1/oauth/accesstoken?grant-type=client_credentials" />
	  <add key="UrlBaseTest" value="https://apigee-prod.altanredes.com/cm-sandbox" />
	  <add key="UrlBaseProd" value="https://apigee-prod.altanredes.com/cm" />
	  <add key="PathTempleates" value="RjVTQ0o2M0cwWjdGUWh0NEpBdE9qR1NZdDBucFRlTWo6QWlmSWplNHpFdkZxa0x3Tw==" />
  </appSettings>
  <system.webServer>
		<handlers>
			<remove name="ChartImage_axd" />
			<remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
			<remove name="Telerik_Web_UI_DialogHandler_aspx" />
			<remove name="Telerik_RadUploadProgressHandler_ashx" />
			<remove name="Telerik_Web_UI_WebResource_axd" />
			<add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
			<add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
			<add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
			<add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
			<add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
		</handlers>
  </system.webServer>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=www.winsefweb.net;Initial Catalog=TECON_BYD;Persist Security Info=True;User ID=sa;Password=winsef2015web" providerName="System.Data.SqlClient" />
		<!--<add name="ConnectionString" connectionString="Data Source=tecomnet;Initial Catalog=TECON_BYD_TEMP;Persist Security Info=True;User ID=sa;Password=@Vxf389vm79p1" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>