<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=www.winsefweb.net;Initial Catalog=TECON_BYD;Persist Security Info=True;User ID=sa;Password=winsef2015web" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="IsSanbox" value="0" />
		<add key="ALConexion" value="RjVTQ0o2M0cwWjdGUWh0NEpBdE9qR1NZdDBucFRlTWo6QWlmSWplNHpFdkZxa0x3Tw==" />
		<add key="PathTempleatesMail" value="C:\Users\WINSEF\source\repos\ADMIN_TECOMNET\WebCustomerTECOMNET\EmailTemplates\" />
	</appSettings>
</configuration>