<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=www.winsefweb.net;Initial Catalog=TECON_BYD;Persist Security Info=True;User ID=sa;Password=winsef2015web" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="IsSanbox" value="0" />
		<add key="ALConexion" value="NDFaT044M05NeGpGMnBLWVZwVklnRVFCUkY5S3FhYTAzWXFuTGRFVlN0TTV5VEJLOnUyN3ZRM1dtOTY1Z0dBUlhxd212ekJoUEdreHVMbkZIVFpLMkRkRmg5YmU5U3JKZDVwQVdMR0loRjFSRlRHeUQ=" />
		<add key="UrlTokenTest" value="https://apigee-prod.altanredes.com/v1/oauth/accesstoken?grant-type=client_credentials" />
		<add key="UrlTokenProd" value="https://apigee-prod.altanredes.com/v1/oauth/accesstoken?grant-type=client_credentials" />
		<add key="UrlBaseTest" value="https://apigee-prod.altanredes.com/cm-sandbox" />
		<add key="UrlBaseProd" value="https://apigee-prod.altanredes.com/cm" />
		<add key="PathTempleatesMail" value="C:\Users\WINSEF\source\repos\ADMIN_TECOMNET\WebCustomerTECOMNET\EmailTemplates\" />
	</appSettings>
</configuration>